
@font-face {
    font-family:pokefont ;
    src: url(./PokemonGb-RAeo.ttf);
}
.card{
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, rgb(50, 196, 236 , .5), rgb(28, 171, 197, .5));
    text-align: center;
    font-family: pokefont;
    font-size: small;
    width: 75px;
    height: 75px;
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
    border: 2px rgb(172, 234, 255) solid;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 65px;
    height: 65px;
    margin-bottom: -10px;
}